<!DOCTYPE html>
<html>
<head>
    <title>Golang Test 2019</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
</head>
<body>
    {{if .Id}}
        <section class="section">
            <a href="/sign-out" class="button">Sign Out</a>
        </section>
    {{end}}

    <section class="section">
        <h1 class="title has-text-centered">Golang Test 2019</h1>
    </section>

    {{if .Error}}
        <section class="section">
            <div class="container">
                <article class="message is-danger">
                    <div class="message-body">
                    {{.Error}}
                    </div>
                </article>
            </div>
        </section>
    {{end}}