{{template "header.html" .}}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h2 class="subtitle">Sign up</h2>
                <form method="POST" action="/sign-up">
                    <div class="field">
                        <input name="Email" class="input is-medium" type="text" placeholder="Email">
                    </div>
                    <div class="field">
                        <input name="Password" class="input is-medium" type="password" placeholder="Password">
                    </div>
                    <input type="submit" class="button is-primary" value="Sign up">
                </form>
            </div>
            <div class="column has-text-centered">
                <h2 class="subtitle">Sign in</h2>
                <form method="POST" action="/sign-in">
                    <div class="field">
                        <input name="Email" class="input is-medium" type="text" placeholder="Email">
                    </div>
                    <div class="field">
                        <input name="Password" class="input is-medium" type="password" placeholder="Password">
                    </div>
                    <input type="submit" class="button is-primary" value="Sign in">
                </form>
            </div>
        </div>
        <div class="has-text-centered">
            <p>- OR -</p><br>
            <fieldset disabled>
            <a class="button is-primary" title="NOT IMPLEMENTED">Sign in with Google</a>
            </fieldset>
        </div>
        <hr>
        <div class="columns">
            <div class="column is-4 is-offset-4 has-text-centered">
                <h2 class="subtitle">Recover your password</h2>
                <form method="POST"> <!--  action="/recover-password-email"> -->
                    <div class="field">
                        <input name="Email" class="input is-medium" type="text" placeholder="Email">
                    </div>
                    <fieldset disabled>
                        <input type="submit" class="button is-primary is-disabled" title="NOT IMPLEMENTED" value="Send recovery email">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>

{{template "footer.html" .}}