{{template "header.html" .}}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <h2 class="subtitle">Your profile</h2>
                <form method="POST" action="/profile-edit">
                    <div class="field">
                        <input name="Name" class="input is-medium" type="text" placeholder="Full Name" value="{{.Name}}">
                    </div>
                    <div class="field">
                        <input name="Address" class="input is-medium" type="text" placeholder="Address" value="{{.Address}}">
                    </div>
                    <div class="field">
                        <input name="Email" class="input is-medium" type="text" placeholder="Email" value="{{.Email}}">
                    </div>
                    <div class="field">
                        <input name="Telephone" class="input is-medium" type="text" placeholder="Telephone" value="{{.Telephone}}">
                    </div>
                    <input type="submit" class="button is-primary" value="Save">
                </form>
            </div>
        </div>
    </div>
</section>

{{template "footer.html" .}}