{{template "header.html" .}}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <h2 class="subtitle">Your profile</h2>

                <div class="content">
                    <p>Full Name: {{.Name}}</p>
                    <p>Address: {{.Address}}</p>
                    <p>Email: {{.Email}}</p>
                    <p>Telephone: {{.Telephone}}</p>
                </div>
                <a href="/profile-edit" class="button is-primary">Edit</a>
            </div>
        </div>
    </div>
</section>

{{template "footer.html" .}}