{{template "header.html" .}}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4 is-offset-4 has-text-centered">
                <h2 class="subtitle">Please set a new password</h2>
                <form method="POST" action="/recover-password">
                    <input name="Code" type="hidden" value="{{.Code}}">

                    <div class="field">
                        <input name="Password" class="input is-medium" type="password" placeholder="Password">
                    </div>
                    <input type="submit" class="button is-primary" value="Save the new password">
                </form>
            </div>
        </div>
    </div>
</div>

{{template "footer.html" .}}